<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/Integration_Code/css/forms.css">
    <link rel="stylesheet" href="/Integration_Code/css/product.css">
</head>
<body>
    <header>
        <h1>Add Product</h1>
    </header>
   <main>
    <form class="product-form" action="" method="POST">
        <div class="form-control">
            <label for="title">Product Name</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01">
        </div>
        <div class="form-control">
            <label for="category">Category</label>
            <input type="text" name="category" id="category">
        </div>
        <div>
            <button class="btn" type="submit">Add Product</button>
        </div>
        
    </form>
   </main>
</body>
</html>
</body>

</html>